# Requirements to specify libraries needed for this project. 
# Author: corijcam@gmail.com
# Date: 19/12/2025
# Update: 

requests        == 2.32.5
pandas          == 2.3.3
jupyter         == 1.1.1
matplotlib      == 3.10.8
seaborn         == 0.13.2
numpy           == 2.2.6
pyarrow         == 23.0.1
scikit-learn    == 1.7.2    